.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.layout-full {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto
}

